<div class="page-container">
  <div class="header">
    <h1>Location Clusterer</h1>
  </div>
  <div class="inputs-container">
    <div class="file-upload-container">
        
        <input type="file" class="file-input" accept=".csv"
       (change)="UploadedFileChanged($event)" #fileUpload>

        <div class="file-upload">

          {{UploadedFileName || "No file uploaded yet."}}

          <button mat-icon-button class="upload-button gradient-button " matTooltipPosition="right" matTooltip="Upload a CSV file containing longitude and latitude columns" matTooltipClass="primary-tooltip"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
    </div>
    <form [formGroup]="settingsForm"  class="cluster-settings-form">

      <div class="cluster-settings-container">

        <mat-form-field appearance="outline" color="primary" class="cluster-settings-wide-form-field">
          <mat-label>Maximum Cluster Diameter (miles)</mat-label>
          <input matInput  type="number" matTooltipPosition="right" matTooltip="The maximum distance between any two points in a cluster" matTooltipClass="primary-tooltip" formControlName="maxDistance">
          <mat-error *ngIf="settingsForm.controls['maxDistance'].invalid && (settingsForm.controls['maxDistance'].dirty || settingsForm.controls['maxDistance'].touched)">Must be between 1 and 2000.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
          <mat-label>Minimum Clusters</mat-label>
          <input matInput type="number" matTooltipPosition="right" matTooltip="The minimum number of clusters to search for" matTooltipClass="primary-tooltip" formControlName="minimumClusterCount">
          <mat-error *ngIf="settingsForm.controls['minimumClusterCount'].invalid && (settingsForm.controls['minimumClusterCount'].dirty || settingsForm.controls['minimumClusterCount'].touched)">Invalid Minimum Clusters.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
          <mat-label>Maximum Clusters</mat-label>
          <input matInput type="number" matTooltipPosition="right" matTooltip="The maximum number of clusters to search for" matTooltipClass="primary-tooltip" formControlName="maximumClusterCount">
          <mat-error *ngIf="settingsForm.controls['maximumClusterCount'].invalid && (settingsForm.controls['maximumClusterCount'].dirty || settingsForm.controls['maximumClusterCount'].touched)">Invalid Maximum Clusters.</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button mat-flat-button class="cluster-button gradient-button" (click)="FindValidClusters()" [disabled]="settingsForm.invalid || this.ShowSpinner || this.UploadedFile == null">
          Generate Clusters
        </button>
        
        <button mat-flat-button class=" cluster-button gradient-button" (click)="SaveFile()" *ngIf="!this.ShowSpinner && this.Clusters.length > 0" [disabled]="settingsForm.invalid || this.ShowSpinner || this.UploadedFile == null">
          Download Clustered Data
        </button>
      </div>
    </form>
  </div>
  <div  class="log-container"> 
    <p *ngIf="this.loadLoggerService.Message != ''">{{this.loadLoggerService.Message}}</p>
    <app-loading-spinner *ngIf="this.ShowSpinner"></app-loading-spinner>
  </div>
  <div class="map-container">
    <div class="map-legend">
      <div class="legend-title">Cluster {{this.HoveredClusterIndex}}</div>
      
      <div class="cluster-info">
        <b>Dist:</b> {{this.HoveredClusterDistance}} miles
      </div>
      <div class="cluster-info">
        <b>Time:</b> {{this.HoveredClusterTime}} hours
      </div>
    </div>
    <app-map #map></app-map>
  </div>
  <footer>
    <p>&#169; 2023 Trey Dettmer</p>
  </footer>

</div>