<div class="page-container">
  <div class="header">
    <h1>Location Clusterer</h1>
  </div>
  <div class="inputs-container">
    <div class="file-upload-container">
        
        <input type="file" class="file-input" accept=".csv"
       (change)="UploadedFileChanged($event)" #fileUpload>

        <div class="file-upload">

          {{UploadedFileName || "No file uploaded yet."}}

          <button mat-icon-button class="upload-button gradient-button " matTooltipPosition="right" matTooltip="Upload a CSV file containing longitude and latitude columns" matTooltipClass="primary-tooltip"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
    </div>
    <form [formGroup]="settingsForm"  class="cluster-settings-form">

      <div class="cluster-settings-container">

        <mat-form-field appearance="outline" color="primary" class="cluster-settings-wide-form-field">
          <mat-label>Maximum Cluster Diameter (miles)</mat-label>
          <input matInput  type="number" matTooltipPosition="right" matTooltip="The maximum distance between any two points in a cluster" matTooltipClass="primary-tooltip" formControlName="maxDiameter">
          <mat-error *ngIf="settingsForm.controls['maxDiameter'].invalid && (settingsForm.controls['maxDiameter'].dirty || settingsForm.controls['maxDiameter'].touched)">Must be between 1 and 25.</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button mat-flat-button class="cluster-button gradient-button" (click)="FindValidClusters()" [disabled]="settingsForm.invalid || this.ShowSpinner || this.UploadedFile == null">
          Generate Clusters
        </button>
        
        <button mat-flat-button class=" cluster-button gradient-button" (click)="SaveFile()" *ngIf="this.HasInitializedMap ? (this.mapComponent.Clusters.length > 0) : false" [disabled]="settingsForm.invalid || this.ShowSpinner || this.UploadedFile == null">
          Download Clustered Data
        </button>
      </div>
    </form>
  </div>
  <div  class="log-container"> 
    <p *ngIf="this.loadLoggerService.Message != ''">{{this.loadLoggerService.Message}}</p>
    <app-loading-spinner *ngIf="this.ShowSpinner"></app-loading-spinner>
  </div>
  <div class="content">

    
    <div class="side-panel">

      <div class="side-panel-scrollbox">
        <ng-container *ngIf="this.SelectedPatients.length != 0">
          <div *ngFor="let patient of this.SelectedPatients">
            <app-patient-panel [patient]="patient" [appComponent]="this" [cluster]="this.SelectedCluster"></app-patient-panel>
          </div>
        </ng-container>
        <ng-container *ngIf="this.SelectedCluster && this.SelectedPatients.length == 0">
          <app-cluster-panel [cluster]="this.SelectedCluster" [appComponent]="this"></app-cluster-panel>   
        </ng-container>
      </div>
      <div class="side-panel-footer" *ngIf="this.SelectedPatients.length != 0">
        <button color="accent" *ngIf="this.SelectedPatients.length != 0" [disabled]="this.SelectedPatients.length <= 1 || (this.IsChoosingNewClusterForPatient && this.SelectedPatient != null)" mat-flat-button (click)="OnPatientReassignRequest($event,null)">
          {{this.IsChoosingNewClusterForPatient && this.SelectedPatient == null ? "Cancel" : "Reassign Points to Cluster"}}
        </button>
        <button color="accent" *ngIf="this.SelectedPatients.length != 0" [disabled]="this.IsChoosingNewClusterForPatient || this.SelectedPatients.length <= 1" mat-flat-button (click)="CreateClusterFromSelectedPatients($event)">Create Cluster from Points</button>
      </div>
    </div>
    
    <div class="map-container">
      <app-map #map></app-map>
      <p class="reassign-cluster-prompt" *ngIf="this.IsChoosingNewClusterForPatient">Choose A Cluster</p>
      <p class="unclustered-patients-prompt" *ngIf="this.HasInitializedMap && this.mapComponent.Clusters.length > 0">Unclustered Patients: {{this.mapComponent.UnclusteredPatientCount}}</p>
      <button class="undo-button" *ngIf="this.HasInitializedMap && this.mapComponent.CanUndo" color="accent" mat-raised-button (click)="RestoreClusters($event)">Undo</button>
      <button class="reset-button" *ngIf="this.HasInitializedMap && this.mapComponent.PatientsAreVisible" color="accent" mat-raised-button (click)="this.mapComponent.HideAllDisplayedClusteredPatients()">Hide Patients</button>
      <button matTooltipPosition="right" matTooltip="Assigns patients to nearest clusters" matTooltipClass="primary-tooltip" class="auto-assign-button" *ngIf="this.HasInitializedMap && this.mapComponent.Clusters.length > 0 && this.mapComponent.UnclusteredPatientCount > 0 &&     this.mapComponent.AreMappedPolygonsVisible()" color="accent" mat-raised-button (click)="this.AutoAssignUnclusteredPatients()">Auto Assign Patients</button>
    </div>
  </div>
  <footer>
    <p>&#169; 2023 Trey Dettmer</p>
  </footer>

</div>