@import "../styles.scss";

.page-container
{

    display: flex;
    flex-direction: column;

    font-family: $ff-primary;
    min-height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;

}



.header
{
    height: 7vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: $fs-h1;
    font-family: $ff-primary;
    font-weight: $fw-reg;
}

.inputs-container
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.cluster-settings-form
{
    padding-bottom: 15px;
}

.cluster-settings-wide-form-field
{
    width: min(260px,70vw);
}

.input-error
{
    display: block;
    color: red;
    padding: 0;
    margin: 0;
}

.file-upload-container
{
    width: min(900px,70vw);
    display: flex;
    justify-content: center;
}

.file-upload
{
    padding-top: 10px;
    width: min(400px,70vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: $ff-primary;
}

.file-input 
{
    display: none;
}

.upload-button
{
    color: white;
}

.cluster-settings-form
{
    display: flex;
    flex-direction: column;
}



.cluster-settings-container
{
    display: flex;
    flex-direction: row;
    width: min(900px,70vw);
    justify-content: center;
    gap: 10px;


}

.cluster-settings-form-field
{
    font-family: $ff-primary;
}


.buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cluster-button
{
    position: relative;
    font-family: $ff-primary;
    color: white;
    margin: 0 5px;
    
}

.gradient-button
{
    background-image: linear-gradient(to right,var(--theme-gradient-color1),var(--theme-gradient-color2),var(--theme-gradient-color2),var(--theme-gradient-color1));
    background-size: 320%;
    background-position: left;
    transition: .1s background-position linear;
}


.gradient-button:hover
{
    background-position: right;
}



.log-container
{
    height: 3vh;
    width: 90vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.map-container
{
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60vh;
    width: min(900px, 70vw);
    align-self: center;
    padding: 0;
    margin: 10px;
}

footer
{
    background: #e2e3e4;
    color: $clr-dark;
    text-align: center;
    font-family: $ff-primary;
    padding: 1em 0;
    margin-top: auto;
}
