<div class="container" (mouseenter)="OnMouseEnter(this)" (mouseleave)="OnMouseLeave(this)">
    <p class="name">Patient {{this.patient.patUID}}</p>  
    <p class="cluster">{{this.cluster == null ? "unclustered" : "Within Cluster " + this.cluster.patients.length}}</p>
    <p class="address">{{this.patient.memberAddress}}, {{this.patient.city}}, {{this.patient.state}}, {{this.patient.zip}}</p>
    <button mat-flat-button color="accent" [disabled]="this.appComponent.IsChoosingNewClusterForPatient && this.appComponent.SelectedPatient != this.patient" (click)="ReassignClusterRequest($event)">     
        {{this.appComponent.IsChoosingNewClusterForPatient && this.appComponent.SelectedPatient == this.patient ? "Cancel" : "Change Cluster"}}
    </button>
</div>

